In [1]:
import pandas as pd

In [2]:
def get_latex(res_type):
    table = pd.read_table("log_{0}.txt".format(res_type), sep="\s+")
    with open("res_{0}.tex".format(res_type), "w") as f:
        f.write("\begin{table}")
        f.write(table.to_latex())
        f.write("\end{table}")

In [5]:
table = pd.read_table("log_suitesparse.txt", sep="\s+")

In [8]:
table.to_latex("log_suitesparse.tex")

In [6]:
table

                    Mat  Size          cbef          caft    reduce      time
0               494_bus   494  5.366000e+07  3.773000e+07  0.296891  3.218991
1                abb313   176  3.719000e+07  3.151000e+07  0.152833  0.374230
2                ash219    85  9.150000e+00  4.194000e+00  0.541579  0.171661
3                ash292   292  4.188000e+07  6.040000e+06  0.855788  1.126949
4                ash331   104  9.588000e+00  3.668000e+00  0.617469  0.226226
..                  ...   ...           ...           ...       ...       ...
385          Ecoli_10NN   336  5.181000e+06  5.434000e+05  0.895106  2.496580
386          Glass_10NN   214  1.473000e+07  3.134000e+05  0.978730  1.019550
387   iris_dataset_30NN   150  4.617000e+05  2.363000e+05  0.488167  0.523400
388  Olivetti_norm_10NN   400  3.756000e+06  3.668000e+05  0.902332  6.360955
389          YaleA_10NN   165  2.198000e+06  1.707000e+05  0.922321  0.703458

[390 rows x 6 columns]